* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

textarea {
  resize: none;
  border: 1px solid black;
}

.App {
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  min-height: 100vh;
  height: 100%;
  
}