@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");

:root {
  --primary: #ffffff;
  --secondary: #2a4d14;
  --tertiary: #317b22;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

textarea {
  resize: none;
  border: 1px solid black;
}

.App {
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  min-height: 100vh;
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  padding: 3% 5%;
  background-color: var(--primary);
  min-height: calc(100vh - 120px);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--tertiary);
}

h1 {
  text-align: center;
}